In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, classification_report
print("Imports successful")

Imports successful

In [2]:
dataset=pd.read_csv("Social_Network_Ads.csv")
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset.head()

    User ID  Age  EstimatedSalary  Purchased  Gender_Male
0  15624510   19            19000          0         True
1  15810944   35            20000          0         True
2  15668575   26            43000          0        False
3  15603246   27            57000          0        False
4  15804002   19            76000          0         True

In [4]:
dataset=dataset.drop("User ID",axis=1)
dataset.head()

   Age  EstimatedSalary  Purchased  Gender_Male
0   19            19000          0         True
1   35            20000          0         True
2   26            43000          0        False
3   27            57000          0        False
4   19            76000          0         True

In [5]:
dataset["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [6]:
indep=dataset[["Age","EstimatedSalary","Gender_Male"]]
dep=dataset["Purchased"]
print(f"indep.shape: {indep.shape} ")
print(f"dep.shape: {dep.shape} ")

indep.shape: (400, 3)
dep.shape: (400,)

In [7]:
#split into training set and test
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)

#create the model
classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)
print("model creation successful")

model creation successful

In [9]:
#Run predication
y_pred = classifier.predict(X_test)

#Evaluate model based on prediction. 
#For regression we evaluate using rSquare method
#For classification we evaluate using confusion metrix
cm = confusion_matrix(y_test, y_pred)
clf_report = classification_report(y_test, y_pred)
print("Confusion Matix:\n", cm)
print("Classification Report:\n",clf_report)

Confusion Matix:
 [[78  7]
 [ 6 43]]
Classification Report:
               precision    recall  f1-score   support

           0       0.93      0.92      0.92        85
           1       0.86      0.88      0.87        49

    accuracy                           0.90       134
   macro avg       0.89      0.90      0.90       134
weighted avg       0.90      0.90      0.90       134